{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!
{% endblock %}

{% block body %}
	{% for categorium in categorias %}
		<h3>{{ categorium.nombre }}</h3>

		<section class="d-flex">
            {% for producto in productos %}
                {% if categorium.codCat == producto.categoria.codCat %}
                    <article>
                        <p>{{ producto.nombre }}</p>
                        <p>{{ producto.descripcion }}</p>
                        <p>{{ producto.foto }}</p>
                        <p>{{ producto.precio }}</p>
                        <p><a href="{{ path('app_cesta_new', {'codProd': producto.codProd}) }}">Añadir a la cesta</a></p>
                        <p><a href="{{ path('app_producto_detalle', {'codProd': producto.codProd}) }}">Ver</a></p>
                    </article>
                {% endif %}
            {% endfor %}
        </section>
	{% endfor %}
{% endblock %}
