{% extends 'base.html.twig' %}

{% block title %}Restaurante index{% endblock %}

{% block body %}
    <h1>Restaurante index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cod_res</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>IsVerified</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurante in restaurantes %}
            <tr>
                <td>{{ restaurante.codRes }}</td>
                <td>{{ restaurante.email }}</td>
                <td>{{ restaurante.roles ? restaurante.roles|json_encode : '' }}</td>
                <td>{{ restaurante.password }}</td>
                <td>{{ restaurante.isVerified ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('app_restaurante_show', {'cod_res': restaurante.cod_res}) }}">show</a>
                    <a href="{{ path('app_restaurante_edit', {'cod_res': restaurante.cod_res}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_restaurante_new') }}">Create new</a>
{% endblock %}
