{% extends 'admin.html.twig' %}

{% block title %}Categorias{% endblock %}

{% block body %}
    <div>
        <h1>Categorias</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>CodCat</th>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    {% if app.user.roles[0]=="ROLE_ADMIN" %}
                    <th>actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for categorium in categorias %}
                <tr>
                    <td>{{ categorium.codCat }}</td>
                    <td>{{ categorium.nombre }}</td>
                    <td>{{ categorium.descripcion }}</td>
                    {% if app.user.roles[0]=="ROLE_ADMIN" %}
                    <td class="d-flex gap-3">
                        <button class="btn btn-success boto">
                            <a href="{{ path('app_categoria_show', {'codCat': categorium.codCat}) }}">Ver</a>
                        </button>
                        <button class="btn btn-success boto">
                            <a href="{{ path('app_categoria_edit', {'codCat': categorium.codCat}) }}">Editar</a>
                        </button>
                    </td>
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="formulario__admin__categorias">
        {% if editar %}

            {{ include('categoria/_form.html.twig', {'button_label': 'Confirmar'}) }}
            <button class="btn btn-success boto">
                <a href="{{ path('app_categoria_index_admin') }}">back to list</a>
            </button>
            {{ include('categoria/_delete_form.html.twig') }}
        {% else %}
            {{ include('categoria/_form.html.twig') }}
            <button class="btn btn-success boto">
                <a href="{{ path('app_categoria_index_admin') }}">back to list</a>
            </button>
        {% endif %}
        
    </div>
{% endblock %}
