{% extends 'admin.html.twig' %}

{% block title %}Productos{% endblock %}

{% block body %}
    <div>
        <h1>productos</h1>

        <table class="table">
        <thead>
            <tr>
                <th>CodProd</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Peso</th>
                <th>Stock</th>
                <th>Foto</th>
                <th>Precio</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto.codProd }}</td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.peso }}</td>
                <td>{{ producto.stock }}</td>
                <td>{{ producto.foto }}</td>
                <td>{{ producto.precio }}</td>
                <td class="d-flex gap-3">
                        <a class="btn btn-success boto" href="{{ path('app_producto_show', {'codProd': producto.codProd}) }}">Ver</a>
                    {% if app.user.roles[0]=="ROLE_ADMIN" %}
                        <a class="btn btn-success boto" href="{{ path('app_producto_edit', {'codProd': producto.codProd}) }}">Editar</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">No hay resultados</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="formulario__admin__productos">
        {% if editar %}
            {{ include('producto/_form.html.twig', {'button_label': 'Confirmar'}) }}
                <a class="btn btn-success boto" href="{{ path('app_producto_index_admin') }}">Volver</a>
            {{ include('producto/_delete_form.html.twig') }}
        {% else %}
            {{ include('producto/_form.html.twig') }}
                <a class="btn btn-success boto" href="{{ path('app_producto_index_admin') }}">Volver</a>
        {% endif %}
    </div>
{% endblock %}