{% extends 'base.html.twig' %}

{% block title %}New Pedidos{% endblock %}

{% block body %}
    <h1>Create new Pedidos</h1>
    {% set total = 0 %}
    {% for producto in cesta %}
        <div class="contenedor__new__pedidos">
            <div class="d-flex justify-content-between"><p>Nombre: </p><p>{{ producto.producto.nombre }}</p></div>
            <div class="d-flex justify-content-between"><p>Cantidad: </p><p>{{ producto.cantidad }}</p></div>
            <div class="d-flex justify-content-between"><p>Precio: </p><p>{{ producto.producto.precio }}€</p></div>
            <div class="d-flex justify-content-between"><p>Total por unidad: </p><p>{{ producto.producto.precio*producto.cantidad }}€</p></div>
            <hr>
        </div>

        {% set total = total + (producto.producto.precio * producto.cantidad) %}

    {% endfor %}
    <div class="d-flex justify-content-between"><p>Total pedido: </p><p>{{total}}€</p></div>
    <div class="div__botones">
        <div class="boton__delete">
            {{ include('pedidos/_form.html.twig') }}
        </div>
        <button class="btn btn-success boto">
            <a href="{{ path('app_pedidos_index') }}">back to list</a>
        </button>
    </div>

{% endblock %}
