{% extends 'base.html.twig' %}

{% block title %}Pedidos{% endblock %}

{% block body %}
    <h1>Pedidos</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>CodPed</th>
                <td>{{ pedido.codPed }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ pedido.fecha ? pedido.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Enviado</th>
                <td>{{ pedido.enviado ? 'Si' : 'No' }}</td>
            </tr>
        </tbody>
    </table>
    <h2 class="display-6">Productos:</h2>
    <div>
        {% set total = 0 %}
        {% for producto in productos %}
            <div class="contenedor__new__pedidos">
                <div class="d-flex justify-content-between"><p>Nombre: </p><p>{{ producto.producto.getNombre() }}</p></div>
                <div class="d-flex justify-content-between"><p>Cantidad: </p><p>{{ producto.cantidad }}</p></div>
                <div class="d-flex justify-content-between"><p>Precio: </p><p>{{ producto.producto.getPrecio() }}€</p></div>
                <div class="d-flex justify-content-between"><p>Total por unidad: </p><p>{{ producto.producto.getPrecio()*producto.cantidad }}€</p></div>
                <hr>
            </div>
            {% set total = total + (producto.producto.getPrecio() * producto.cantidad) %}
        {% endfor %}
        <div class="d-flex justify-content-between"><p>Total pedido: </p><p>{{total}}€</p></div>
    </div>
    <div class="div__botones">

            <a class="btn btn-success boto" href="{{ path('app_base') }}">Volver</a>

    </div>




    
{% endblock %}
